
<div class="w-1/4 mb-10 p-2">
    <a href="{% url 'rooms:room_detail' room.pk %}">
        <div class="w-full h-64 bg-cover bg-center mb-2" style="background-image: url({{room.get_first_photo}});"></div>
        <div class="flex justify-between mb-2 truncate">
            <div class="w-4/5 overflow-hidden">
                {% if room.host.superhost %}
                    <span class="mr-1 uppercase text-sm font-bold border border-black rounded-lg text-black py-px px-1">superhost</span>
                {% endif %}
                <span class="text-sm text-gray-600 truncate">{{room.city}}, {{room.country.name}}</span>
            </div>
            <span class="text-sm flex items-center">
                <i class="fas fa-star text-blue-500 text-xs mr-2"></i>{{room.total_rating}}
            </span>
        </div>
        <span class="text-black font-light text-sm w-11/12 block truncate">{{room.room_name}}</span>
    </a>
</div>