{% extends "base.html" %}

{% block page_title %}
    {{room.room_name}}
{% endblock page_title %}

{% block content %}

    <div>
        <h1>{{room.room_name}}</h1>
        <h3>{{room.description}}</h3>
    </div>
    <div>
        <h2>
            By: {{room.host.username}}
            {% if room.host.superhost %}
                (superhost)
            {% endif %}
        </h2>

        <h3>편의시설</h3>
        {% for amenity in room.amenities.all %}
            <li>{{amenity}}</li>
        {% endfor %}

        <h3>숙박시설</h3>
        {% for facility in room.facilities.all %}
            <li>{{facility}}</li>
        {% endfor %}

        <h3>숙소 이용규칙</h3>
        {% for houserule in room.houserules.all %}
            <li>{{houserule}}</li>
        {% endfor %}
    </div>


    
{% endblock content %}