{% extends "base.html" %}

{% block page_title %}
    Home
{% endblock page_title %}

{% block content %}

    <div class="container mx-auto pb-12">
        <div class="rounded-xl -mx-40 bg-gray-800 h-50vh mt-32 mb-24 bg-cover bg-center" style="background-image: url(https://images.unsplash.com/photo-1540998145333-e2eef1a9822d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1683&q=80);">
        </div>

        <div class="flex flex-wrap -mx-40 mb-10">
            {% for room in rooms %}
                {% include 'mixins/room_card.html' with room=room%}
            {% endfor %}
        </div>
    
        <div class="flex items-center justify-center container">
            {% if page_obj.has_previous %}
                <a href="?page={{page_obj.previous_page_number}}" class="text-teal-500">
                    <i class="fas fa-arrow-left fa-lg"></i>
                </a>
            {% endif %}

            <span class="mx-3 font-bold">{{page_obj.number}}</span>
            <span class="mx-3"> of </span>
            <span class="mx-3">{{page_obj.paginator.num_pages}}</span>
            
            {% if page_obj.has_next %}
                <a href="?page={{page_obj.next_page_number}}" class="text-teal-500">
                    <i class="fas fa-arrow-right fa-lg"></i>
                </a>
            {% endif %}
        </div>
    </div>

{% endblock content %}
