{% extends "base.html" %}

{% block page_title %}
객실 수정
{% endblock page_title %}

{% block search_bar %}
{% endblock search_bar %}

{% block content %}
    <div class="container lg:w-5/12 md:w-1/2 xl:w-2/4 sm:w-4/6 mx-auto my-10 flex flex-col items-center p-6 border border-gray-500 rounded-xl">

        {% include 'mixins/room/room_form.html' with form=form cta="수정하기" %}

        <div class="flex items-center mt-4 mb-3">
            <a href="{% url 'rooms:update_photos' room.pk %}" class="text-teal-700 font-bold">객실 사진 변경</a>
        </div>
            
    </div>
{% endblock content %}